.parallax {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("luisa-background.jpg") no-repeat fixed center;
    background-size: cover;
}
.bg-secondary {
    background-color: #e0dede !important;
}